.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.relatedproducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts-item{
    margin-top: 50px;
    display: flex;
    gap: 30px;   
}
@media(max-width:1280px){
    .relatedproductsular{
        height: 70vh;
    }
    .relatedproductsular h1{
        font-size: 40px;
    }
    .relatedproductsular hr{
        width: 160px;
        height: 4px;
    }
    .relatedproductsular-item{
        gap: 20px;
        margin-top: 30px;
    }
}
@media(max-width:1024px){
    .relatedproductsular{
        height: 60vh;
    }
    .relatedproductsular h1{
        font-size: 30px;
    }
    .relatedproductsular hr{
        width: 120px;
        height: 3px;
    }
    .relatedproductsular-item{
        gap: 15px;
        margin-top: 20px;
    }
}
@media(max-width:800px){
    .relatedproductsular{
        height: 50vh;
        gap: 6px;
    }
    .relatedproductsular h1{
        font-size: 20px;
    }
    .relatedproductsular hr{
        width: 100px;
    }
    .relatedproductsular-item{
        gap: 5px;
    }
}
@media(max-width:500px){
    .relatedproductsular{
        height: 90vh;
    }
    .relatedproductsular-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}