.cartitems {
    margin: 100px 170px;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 15px 0;
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 62px;
}

.cartitems-remove-icon {
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}

.cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
    text-align: center;
    line-height: 50px;
}

.cartitems-down {
    display: flex;
    margin: 100px 0;
    gap: 20px;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.cartitems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p {
    color: #555;
}

.cartitems-promobox {
    width: 540px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
    display: flex;
    align-items: center;
}

.cartitems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    flex: 1;
    height: 50px;
}

.cartitems-promobox button {
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

@media(max-width: 1280px) {
    .cartitems {
        margin: 60px 50px;
    }

    .cartitems-format-main,
    .cartitems-format {
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0;
        font-size: 15px;
    }

    .carticon-product-icon {
        height: 50px;
    }

    .cartitems-remove-icon {
        margin: auto;
    }

    .cartitems-quantity {
        width: 40px;
        height: 30px;
        line-height: 30px;
    }

    .cartitems-down {
        flex-direction: column;
        margin: 80px 0;
        gap: 40px;
    }

    .cartitems-total {
        margin-right: 0;
    }

    .cartitems-total button {
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }

    .cartitems-promobox {
        width: 100%;
        max-width: 500px;
    }

    .cartitems-promobox button {
        width: 120px;
    }
}

@media(max-width: 500px) {
    .cartitems {
        margin: 30px 20px;
    }

    .cartitems-format-main {
        display: none;
    }

    .cartitems-format {
        grid-template-columns: 0.5fr 2fr 1fr 1fr;
        gap: 10px;
    }

    .cartitems-quantity {
        width: 30px;
        height: 25px;
        line-height: 25px;
    }

    .cartitems-down {
        flex-direction: column;
        gap: 30px;
    }

    .cartitems-total button {
        max-width: 180px;
        height: 40px;
        font-size: 12px;
    }

    .cartitems-promobox {
        flex-direction: column;
    }

    .cartitems-promobox input,
    .cartitems-promobox button {
        width: 100%;
        margin: 5px 0;
    }
}
